address {
    margin-left: 2em;
    margin-bottom: 2em;
}
body {
    color: #59696f;
}
button {
    background-color: #96adc8;
    color:#f1f2ef;
    padding: 2em;
    box-shadow: 5px 5px 10px black;
    font-weight: 800;
    max-width: 250px;
    margin-left: 2.5em;
}
div {
    display: block;
    border: 8px double #59696f;
    max-width: 200px;
    padding: 2em;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #bdcad8;
}
footer {
    background-color: #96adc8;
    color: #f1f2ef;
    text-align: center;
    padding: 2em;
    font-family: 'Source Sans Pro', sans-serif;
}
form {
    margin-left: 5em;
    line-height: 2em;
    padding: 2em;
    border: 2px solid #443c5f;
    margin-bottom: 2em;
    box-shadow: 5px 5px 10px #96adc8;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
}
iframe {
    margin-left: 2em;
    margin-bottom: 0.5em;
}
table,
tr,
th,
td {
    border: 1px solid rgb(59, 60, 63);
    border-collapse: collapse;
    padding: 0.5em;
}
#templeimages {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#templesbreak {
    background-color: rgb(192, 232, 255);
}
li a {
    padding: 1em;
    text-decoration: none;
    color: #f1f2ef;

  }
  
nav {
    background-color: #96adc8;
    display: flex;
    flex-direction: column;

  }
p{
    font-family: 'Roboto', sans-serif;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    justify-content: center;
}
ul {
    list-style-type: none;
    /* padding-left: 25%; */
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    justify-content: space-evenly;
}
a:hover {
    background-color: #443c5f;
}
.hidemenu {
    display: none;
}
#button {
    display: block;
}
#additionalComments {
    max-width: 200px;
}
#contactForm {
    width: 200px;
}
#current {
    color:#443c5f ;
}
#current:hover {
    background-color: #eff2f2;
}
#logo {
    width: 125px;
    height: 125px;
    margin-left: 40%;
}
#missionaryheading {
    text-align: center;
}
#queen {
    width: 250px;
}
#king {
    width: 300px;
}
#rexburg_home {
    margin-top: 2em;
    margin-left: 1.5em;
    height: 200px;
    margin-bottom: 0.5em;
}
#surveyheading {
    margin-left: 3em;
    text-align: center;
}
#templehomephoto{
    max-width: 300px;
    padding: 2em;
}
#templesummary {
    padding-top: 2em;
    padding-left: 2em;
}
#temples {
    font-size: 10px;
}
#templeheading {
    padding: 2em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#temples {
    display: grid;
    grid-template-columns: 1fr;
}

#currentsub {
    background-color: #efeff2de;
    color: #3c545f;
}
.subnav {
    float: left;
    overflow: hidden;
  }
  
  
  .subnav .subnavbtn {
    border: none;
    outline: none;
    color: #eff2f0;
    padding: 1em;
    background-color: inherit;
    font-family: inherit;
    margin-top: 0em;
    justify-content: center;
  }
  
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #443c5f;
  }
  
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 10;
    background-color: #443c5f ;
    z-index: 1;
    font-size: 12px;
    text-align: center;
    max-width: 93px;
    max-height: 90px;
    padding: 1em ;
    margin:0;
  } 
  
  
  .subnav-content a {
    float: left;
    color:#eff2f0;
    text-decoration: none;
  }
  
  
 .subnav:hover .subnav-content { 
    display: block; 
  }
  
  .subnav:hover .subnav-content {
      display: block;
  }


