
header{background-color: blueviolet;
    padding:10px;

}
body{ margin: 0;
     padding: 0;
     text-align: center;
}
footer{background-color: beige;
        padding: 10px;
}

ul {list-style: none;

}

nav ul li a{background-color: aqua;
           padding: 10px;
           text-decoration: none;
}

.flex{display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}