@media only screen and (min-width: 375px) {
    body{
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        text-align: center;
        background-color:blue;
    }
    header {
        flex-direction: row;
        justify-content: center;
    }

    .navigation {
        display: flex;
        
    }

    .navigation li{
        display: block;
        flex: 1 1 100%;
    }

    .navigation li:first-child {
        display: none;

    }



}



    img{ 
        width: 100px;
    
   }
