@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



img {
    width:100px;

}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
     font-family: 'Rajdhani','sans-serif';
}

nav button{
    margin: 10px;
    background-color: grey;
    border: none;
    font-size: 10pt;
    color:grey;
}

nav{
    background: gray;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav ul li a {
    display: block;
    text-decoration: none;
    color:black;
    border-top:1px solid black;
}

nav ul li a:hover{
    background-color: gray;
}


a{
    padding: 1em;
}

.flex {
    display: flex;
    flex-direction: column;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
#preston{
    background-color: gray;
    text-align: center;
    color: gray;
}

section {
    background-color: gray;
    text-align: center;
}

#five-day-forecast{
    background-color: gray;
    text-align-last: center;
    color: gray;
}

#articles{
    background-color:black;
    text-align-last: center;
    color: black;
}

#contact-info{
    background-color: gray;
    text-align-last: center;
    color: gray;
}

footer{

    text-align: center;
    padding: 2em;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #000;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}